html {
  overflow-y: scroll;
}

.App {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  color: $primary-text;
  background-color: $primary;

  h1, h2 {
    padding: 1rem 5px;
    margin: 0;
  }

  .section {
    padding: 1rem 0px;
  }

  .connection-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p {
      margin: 0;
      padding: 0 5px;
      .connected {
        color: green;
      }
      .disconnected {
        color: red;
      }
    }
    button {
      min-width: 85px;
    }
  }

  .category-wrapper {
    width: 100%;
  }

  .selection-wrapper {
    div {
      display: inline-block;
    }

    .form-wrapper {
      text-align: right;
    }

  }

  table {
    color: $primary-text;
    font-family: Rubik;
    button {
      position: relative;
      z-index: 2;
      cursor: pointer;
      color: transparent;
      background-color: transparent;
      border: none;
    }
    svg {
      position: relative;  // avoid fontawesome icon cover the clickable button
      z-index: -1;
      color: $gold;
    }
    th, td {
      width: calc(100vw / 6);
      border-color: rgb(56, 56, 56);
      text-align: left;
    }
    th:nth-last-child(1), td:nth-last-child(1) {
      text-align: center;
    }
  }
}
