.coinDetail {
  &-base {
  }
  &-quote {
    color: $dark-grey;
  }
  &-open {
    color: $dark-grey;
  }
  &-highest {
    color: $gold;
  }
  &-lowest {
    color: $light-gold;
  }
}

.positive {
  color: $green;
}

.negative {
  color: $red;
}
