/***
  *  Mobile and Tablet
  **/

@include tablet {
  html {
    overflow-y: auto;
  }
  .App {
    h1 {
      font-size: 2rem;
    }
    th, td {
      widht: calc(100% / 4);
    }
    .tablet-hide {
      display: none;
    }
  }
} /* tablet end */

@include mobile {
  html {
    overflow-y: auto;
  }
  .App {
    h1 {
      font-size: 1.5rem;
    }

    .category-wrapper {
      ul{
        &::-webkit-scrollbar {
          width: 10px;
          height: 5px;
        }
        &::-webkit-scrollbar-thumb {
          background: $gold;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
        }
        li {
          padding: 5px 10px 5px;
          font-size: 1.2rem;
        }
      }
    }
    .selection-wrapper {
      .form-wrapper {
        margin-top: 1rem;
      }
    }
    .mobile-hide {
      display: none;
    }
  }

} /* mobile end */

@include extra-small {
  .App {
    h1 {
      font-size: 1.5rem;
    }

    .category-wrapper {
      ul{
        &::-webkit-scrollbar {
          width: 10px;
          height: 5px;
        }
        &::-webkit-scrollbar-thumb {
          background: $gold;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
        }
        li {
          padding: 5px 10px 5px;
          font-size: 1.2rem;
        }
      }
    }
  }

  table {
    font-size: 0.8rem;
    th, td {
      widht: calc(100% / 3);
    }
  }
}
